[submodule "ext/buildroot"]
	path = ext/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "ext/scanmem"]
	path = ext/scanmem
	url = https://github.com/scanmem/scanmem.git
[submodule "assets"]
	path = assets
	url = git@gitlab.inf.ethz.ch:PRV-SHINDE/projects/proj-2022/rmm/trusted-peripherals-assets.git
[submodule "ext/pteditor"]
	path = ext/pteditor
	url = https://github.com/misc0110/PTEditor.git
[submodule "src/linux-host"]
	path = src/linux-host
	url = git@gitlab.inf.ethz.ch:PRV-SHINDE/projects/proj-2022/rmm/trusted-peripherals-kernel.git
[submodule "src/linux-guest"]
	path = src/linux-guest
	url = git@gitlab.inf.ethz.ch:PRV-SHINDE/projects/proj-2022/rmm/trusted-peripherals-kernel.git
