.DS_Store
.idea
*.log
tmp/
*.cmd
*.o
*.symvers
*.mod.c
*.mod
*.ko
*.o.d
modules.order
.idea
*.out
buildroot/output
.cache
./output
./assets/
output/
tmp-sync/
/src/fvp_escape_host/ptedit/
/src/fpga_driver/xdma_stub/linux-kernel/tools/dma_from_device
/src/fpga_driver/xdma_stub/linux-kernel/tools/dma_to_device
/src/fpga_driver/xdma_stub/linux-kernel/tools/performance
/src/fpga_driver/xdma_stub/linux-kernel/tools/reg_rw
/src/fpga_driver/xdma_stub/linux-kernel/tools/test_chrdev
